In [1]:
import pandas as pd
import numpy as np

In [8]:
dataset=pd.read_csv('./Machine-Learning-Final-Project/CS559_S23_Competition_Data/train_.csv')
dataset

,Unnamed: 0,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0,3856_01,Earth,False,F/726/S,NaN,23.0,False,339.0,754.0,7.0,0.0,0.0,Ward Alvasquez,True
1,1,6110_01,Earth,False,E/389/P,55 Cancri e,57.0,False,0.0,0.0,0.0,0.0,642.0,Sus Warrishales,True
2,2,6908_01,Europa,False,C/254/S,TRAPPIST-1e,60.0,False,0.0,960.0,46.0,854.0,17074.0,Sheleon Swinvul,False
3,3,5628_01,Earth,True,G/900/P,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Ebonya Potthews,False
4,4,1193_02,Europa,True,B/50/S,55 Cancri e,25.0,False,0.0,0.0,0.0,0.0,0.0,Solam Presstic,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6253,6253,8905_01,Mars,False,E/570/P,TRAPPIST-1e,32.0,True,0.0,0.0,0.0,0.0,0.0,Flakes Dutte,True
6254,6254,5133_03,Earth,True,G/829/P,PSO J318.5-22,NaN,False,0.0,0.0,0.0,0.0,0.0,Lina Litthews,True
6255,6255,1730_01,Earth,False,E/106/P,55 Cancri e,17.0,False,68.0,0.0,0.0,0.0,795.0,Elson Curton,True
6256,6256,3080_01,Earth,False,F/584/S,TRAPPIST-1e,40.0,False,0.0,0.0,0.0,822.0,2.0,Florey Alldson,False
6257,6257,0612_01,Europa,True,B/25/P,TRAPPIST-1e,27.0,True,0.0,0.0,0.0,0.0,0.0,Achyon Ranaly,True

In [9]:
#Preprocessing the Data
#Removing Info from the dataset that are not important
dataset= dataset.drop(['PassengerId', 'Name','Unnamed: 0'], axis=1)
#drop passengerId and Name and Unnamed:0 because we know that the passengers that are 
#transported are definetely not chosen by their unique identification or name

In [10]:
#check for missing values in the dataset
dataset.isnull().sum().sort_values(ascending=False)

CryoSleep       156
VIP             152
ShoppingMall    151
Cabin           144
HomePlanet      142
Age             130
VRDeck          129
RoomService     126
FoodCourt       126
Destination     122
Spa             118
Transported       0
dtype: int64

In [11]:
#Since there are missing values, fill them in with a value that does not affect
#the graph like 0
dataset[['VIP', 'CryoSleep', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']] = dataset[['VIP', 'CryoSleep', 'FoodCourt', 'ShoppingMall', 'Spa', 'VRDeck']].fillna(value=0)

In [12]:
#change the data values that are booleans to something else to represent them
#like 1 and 0s. 
dataset["Transported"] = dataset["Transported"].astype(int)
dataset['VIP'] = dataset['VIP'].replace({True: 1, False: 0}).astype(int)
dataset['CryoSleep'] = dataset['CryoSleep'].replace({True: 1, False: 0}).astype(int)

In [13]:
#Cabin has three numbers Deck/Cabin Num/Side so we would 
#split the dataset into three new columns to make it easier
#to work with
dataset[["Deck", "Cabin_num", "Side"]] = dataset["Cabin"].str.split("/", expand=True)
#Remove Cabin as we don't need it anymore
dataset = dataset.drop('Cabin', axis=1)

In [14]:
#Filling in Age with the mean of the ages as it is a continuous variable
dataset['Age'].fillna(dataset['Age'].mean(), inplace=True)

In [22]:
#Filling in HomePlanet with the mode of the homeplanets as it is a catergorial variable
dataset['HomePlanet'].value_counts()
#Earth has the most so we'll fill in the blanks with that
dataset['HomePlanet'].fillna('Earth',inplace=True)

In [24]:
#Filling in Destination with the mode of the destinations as it is a catergoiral variable
dataset['Destination'].value_counts()
#TRAPPIST-1e has the most so we'll fill in the blanks with that
dataset['Destination'].fillna('TRAPPIST-1e',inplace=True)

In [26]:
#Filling in Deck with the mode of the deck as it is a catergoiral variable
dataset['Deck'].value_counts()
#F has the most so we'll fill in the blanks with that 
dataset['Deck'].fillna('F',inplace=True)

In [28]:
#Filling in Side with the mode of the side as it is a catergoiral variable
dataset['Side'].value_counts()
#S has the most so we'll fill in the blanks with S
dataset['Side'].fillna('S',inplace=True)

In [29]:
#Since there are missing values, fill them in with a value that does not affect
#the graph like 0
dataset[['Cabin_num','RoomService']] = dataset[['Cabin_num','RoomService']].fillna(value=0)
dataset["Cabin_num"] = dataset["Cabin_num"].astype(int)
dataset["RoomService"] = dataset["RoomService"].astype(int)

In [30]:
#check dataset again to see if there are no more null values
dataset.isnull().sum().sort_values(ascending=False)

HomePlanet      0
CryoSleep       0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
Deck            0
Cabin_num       0
Side            0
dtype: int64

In [ ]:
#Done preprocessing data